pandas==1.3.2
discord_py_slash_command==3.0.1
discord.py==1.7.3
google_auth_oauthlib==0.4.6
discord==1.7.3
google_api_python_client==2.19.1
protobuf==3.17.3

google~=3.0.0
setuptools~=47.2.0
SQLAlchemy~=1.4.23
numpyencoder~=0.3.0
googletrans~=3.0.0
psutil~=5.8.0
numpy~=1.19.3
scikit-image~=0.18.3
colormap~=1.0.3
requests~=2.23.0
Pillow~=8.3.1