pandas==1.3.2
discord_py_slash_command==3.0.1
discord.py==1.7.3
google_auth_oauthlib==0.4.6
discord==1.7.3
google_api_python_client==2.19.1
protobuf==3.17.3

google~=3.0.0
setuptools~=47.2.0
SQLAlchemy~=1.4.23